@import "./waybar/themes/mocha.css";
/* Reminder: 1 rem = 16px by default */
#battery.warning:not(.charging) {
	animation-name: blink;
	color: @red;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Global */
/*TODO: Optimize CSS inheritance to not set properties needlessly*/
* {
	border: none;
	border-radius: 0;
	min-height: 32px;
	font-family: "monospace";
}
tooltip {
	border: 0.15rem solid @crust;
	background: @mantle;
	opacity: 0.9;
  /*border: 1px solid;*/
}
tooltip label {
	color: @subtext0;
}
window#waybar {
	background: @base;
	color: @text;
}
label.module { 
	padding: 0 5px;
	box-shadow: inset 0 -2px transparent;
}
box.module button:hover {
    box-shadow: inset 0 1px @green;
}
#mode, #clock, #battery{
	padding: 0 10px;
}
#mode {
	background: #64727D;
	border-bottom: 3px solid white;
}
#workspaces button {
	padding: 0 5px;
	background: transparent;
	color: @mauve;
	border-bottom: 2px solid transparent;
}
#workspaces button.focused {
    background: @surface0;
    border-bottom: 2px solid @peach;
}
